<!--
  Copyright 2026 Samvel Khalatyan. All rights reserved.

  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "axis" -}}
<g>
	<path d="{{.Line}}" class="axis"/>
	<path d="{{.Guides}}" class="guide"/>
</g>
{{- end}}

{{define "plot" -}}
<g id="plot-line-group" transform="translate({{.Origin}}) scale(1 -1)">
	<path id="plot-line-path" d="{{.Path}}" class="line"/>
	<rect id="plot-line-rect" x="0" y="0" width="100%" height="100%" fill="transparent"/>
	<circle id="plot-line-pointer" cx="0" cy="0" r="2" stroke="red" stroke-width="1" fill="orange" style="visibility:hidden"/>
</g>
{{- end}}

<p>{{.Title}}</p>
<svg id="plot-svg" version="1.1" width="600" height="300" viewbox="{{.ViewBox}}" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<style><![CDATA[
			.background {
			fill: rgb(0 0 200 / 2%);
			}
			path.axis {
			stroke: black;
			stroke-width: 0.5;
			fill: none;
			}
			path.guide {
			stroke: rgb(121 121 121 / 50%);
			stroke-width: 0.25;
			stroke-dasharray: 5 5;
			fill: none;
			}
			path.line {
			stroke: green;
			stroke-width: 0.5;
			fill: none;
			}
			]]></style>
		<script><![CDATA[
			window.addEventListener("load", (e) => {
			const svg = document.getElementById("plot-svg");
			const plotLineGroup = document.getElementById("plot-line-group");
			const plotLinePath = document.getElementById("plot-line-path");
			const plotLineRect = document.getElementById("plot-line-rect");
			const plotLinePointer = document.getElementById("plot-line-pointer");
			const coords = new Map();
			for (var d = 0; d < plotLinePath.getTotalLength(); d++) {
			const p = plotLinePath.getPointAtLength(d);
			const x = Math.floor(p.x);
			coords.set(x, p.y);
			}
			const pt = svg.createSVGPoint();
			let lastX = 0;
			plotLineRect.addEventListener("mousemove", (e) => {
			pt.x = e.clientX;
			pt.y = e.clientY;
			const loc = pt.matrixTransform(plotLineGroup.getScreenCTM().inverse());
			const x = Math.floor(loc.x);
			if (lastX == x) { return }
			lastX = x;
			if (!coords.has(x)) { return }
			const y = coords.get(x);
			plotLinePointer.setAttribute("cx", x);
			plotLinePointer.setAttribute("cy", y);
			plotLinePointer.style.visibility="visible";
			});
			});
			]]></script>
	</defs>
	<rect x="0" y="0" width="100%" height="100%" class="background"/>
	{{include "axis" .X | indent "\t"}}
	{{include "axis" .Y | indent "\t"}}
	{{include "plot" .  | indent "\t"}}
</svg>
