<!--
  Copyright 2026 Samvel Khalatyan. All rights reserved.

  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "axis" -}}
<g>
	<path d="{{.Line}}" class="axis"/>
	<path d="{{.Guides}}" class="axis-guide"/>
</g>
{{- end}}

{{define "plot" -}}
<g id="plot-line-group" transform="translate({{.Origin}}) scale(1 -1)">
	<path id="plot-line-path" d="{{.Path}}" class="line"/>
	<rect id="plot-line-rect" x="0" y="0" width="100%" height="100%" fill="transparent"/>
	<g id="plot-line-pointer" style="visibility:hidden">
		<line id="plot-line-pointer-guide" y2="100%" class="pointer-guide"/>
		<circle id="plot-line-pointer-cursor" cx="0" cy="0" r="3" class="pointer-cursor"/>
	</g>
</g>
{{- end}}

<div style="display: flex;">
	<div style="flex-grow: 6">
		<span>{{.Title}}</span>
	</div>
	<div style="flex-grow: 2;">
		<span>Date:</span>
		<span id="plot-hint-date" style="display: inline-block; text-align: right; width: 70; font-weight:bold;"></span>
	</div>
	<div style="flex-grow: 2;">
		<span>Val:</span>
		<span id="plot-hint-val" style="display: inline-block; text-align: right; width: 50; font-weight:bold;"></span>
	</div>
</div>
<svg id="plot-svg" version="1.1" width="600" height="300" viewbox="{{.ViewBox}}" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<style><![CDATA[
			.axis {
			stroke: black;
			stroke-width: 0.5;
			fill: none;
			}
			.axis-guide {
			stroke: rgb(121 121 121 / 50%);
			stroke-width: 0.25;
			stroke-dasharray: 5 5;
			fill: none;
			}
			.line {
			stroke: green;
			stroke-width: 0.5;
			fill: none;
			}
			.pointer-guide {
			stroke: rgb(0 200 0 / 20%);
			stroke-width: 1;
			}
			.pointer-cursor {
			stroke: white;
			stroke-width: 1;
			fill: green;
			}
			]]></style>
	</defs>
	{{include "axis" .X | indent "\t"}}
	{{include "axis" .Y | indent "\t"}}
	{{include "plot" .  | indent "\t"}}
</svg>
