# Copyright 2025 Samvel Khalatyan. All rights reserved.

# https://github.com/llvm/llvm-project/issues/117000
CompileFlags:
  Add: [-Wno-unneeded-internal-declaration]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
