# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: buildifier
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: buildifier-lint
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: check-copyright
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [markdown]
    exclude: "(go\\.(mod|sum)|MODULE\\.bazel\\.lock|.*/(test)?data/.*|_string.go$)"
  - id: check-go-test
    name: check-go-test
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: check-issue
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: check-nosubmit
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: check-todo
    entry: check-todo
    language: system
  - id: clang-format
    name: clang-format
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: clang-tidy
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: goimports
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: keep-sorted
    name: keep-sorted
    entry: keep-sorted
    language: system
  - id: make-lint
    name: make-lint
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: markdown-format
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: no-binary
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: shell-format
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: shell-no-extension
    entry: "Shell executable scripts should not have an extension"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: txtpb-format
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: typos
    entry: typos
    language: system
    types: [text]
    exclude: "^.*\\.diff$"
  - id: yaml-format
    name: yaml-format
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end
