# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        .*/testdata/.*
        |.*\.diff
        |.*\.patch
      )$
  - id: trailing-whitespace
    exclude: "(\\.diff|\\.patch)$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
    exclude: "nvim/plugin/lab-skeleton/share/new.*$"
  - id: check-godoc
    name: "Go documentation"
    entry: check-godoc
    language: system
    types_or: [go]
    pass_filenames: true
    exclude: |
      (?x)^(
        .*/testdata/.*
        |nvim/plugin/lab-skeleton/share/new.*
      )$
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-license
    name: "Check license"
    entry: ./check/cmd/check-license/check_license
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: |
      (?x)^(
        .*/MODULE\.bazel\.lock
        |.*/go\.(mod|sum)
        |.*/(test)?data/.*
        |.*_string\.go
        |.*\.pb\.go
        |.*\.diff
        |.*\.patch
        |home/vim/templates/skel.*
        |nvim/plugin/lab-skeleton/share/new.*
      )$
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
    exclude: |
      (?x)^(
        .*\.diff
        |.*\.patch
      )$
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
    exclude: "^nvim/plugin/lab-skeleton/share/"
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
    exclude: "^nvim/plugin/lab-skeleton/share/"
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    exclude: |
      (?x)^(
        .*\.pb\.go
        |nvim/plugin/lab-skeleton/share/new.*
      )$
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: lua-format
    name: "Format Lua"
    entry: stylua
    language: system
    types_or: [lua]
  - id: lua-lint
    name: "Lint Lua"
    entry: luacheck
    language: system
    types_or: [lua]
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
    exclude: "book/ostep/.*/Makefile$"
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args:
    - "-soft-wraps"
    - "-w"
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: proto-doc
    name: "Validate Protobuf documentation"
    entry: check-pbdoc
    language: system
    types_or: [proto]
  - id: proto-format
    name: "Format Protocol buffers"
    entry: clang-format21 -i
    language: system
    types_or: [proto]
    args: ["-style=file"]
  - id: proto-nextid
    name: "Validate protobuf next id"
    entry: check-nextid
    language: system
    types_or: [proto]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: |
      (?x)^(
        .*\.diff
        |infra/net\.lab.*\.conf
      )$
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end
