<!--
  Copyright 2026 Samvel Khalatyan. All rights reserved.

  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

<html>
	<head>
		<meta charset="utf-8">
		<title>IrEx</title>
		<style>
			.container {
				display: grid;
				grid-template-columns: auto;
				padding: 10px;
				width: 900;
				margin: 0 auto;
			}
			.container > div {
				padding 10px;
				margin: 10px auto;
			}
			.header {
				margin-bottom: 10;
				width: 100%;
				text-align: center;
			}
			.header #search-label {
				font-size: 2em;
				padding: 1em;
			}
			.header #search-input {
				font-size: 1.5em;
			}
		</style>
		<script>
			document.addEventListener('keydown', function(e) {
				if (e.key == '/') {
					var el = document.getElementById('search-input');
					el.focus();
					e.preventDefault();
				}
				});
		</script>
		{{range .Features -}}
		<script type="module">
			{{.JSModule}}
		</script>
		{{- end}}
	</head>
	<body>
		<div class="container">
			{{template "header" .Header}}
			{{range .Features}}
			<div>
				{{.HTML}}
			</div>
			{{end}}
		</div>
	</body>
</html>
