# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

# Source: /etc/pkg/FreeBSD.conf
freebsd-base: {
  url: "pkg+http://{{ local_pkg_hostname }}/freebsd/base/${ABI}/base_release_1",
  mirror_type: "srv",
  signature_type: "fingerprints",
  fingerprints: "/usr/share/keys/pkgbase-15",
  enabled: yes,
  # Set priority that is higher than default repositories.
  priority: 1
}
