# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

[defaults]
# keep-sorted start
callbacks_enabled = timer, profile_tasks, profile_roles
connection_plugins = ./plugins/connection
inventory = ./inventory
log_path = ~/log/ansible.log
nocows = true
roles_path = ./roles
# keep-sorted end

# https://www.redhat.com/en/blog/faster-ansible-playbook-execution
[connection]
pipelining = true

[ssh_connection]
# ControlMaster - reuse existing connections
# ControlPersist - keep connections alive for N seconds after last session
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
