# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

worker_processes  1;

events {
  worker_connections  1024;
}

http {
  # Use absolute path includes to make Nginx configuration validator work
  # with Ansible, which runs validation `nginx -t -c %s` on a temporary file
  # and nginx(1) tries to pick up mime.types from the same location instead
  # of prefix even if `-p /usr/local/etc/nginx` is used without effect.
  #
  include       /usr/local/etc/nginx/mime.types;
  default_type  application/octet-stream;

  sendfile    on;

  keepalive_timeout  65;

  # Content cache for pkg.FreeBSD.org
  proxy_cache_path /var/cache/pkg.freebsd.ports levels=1:2 use_temp_path=off
                   keys_zone=freebsd-ports:10m inactive=14d;

  server {
    listen        {{ local_pkg_listen_on }}:80;
    server_name   {{ inventory_hostname }};

    allow 10.0.0.0/24;  # local network
    deny  all;

    location / {
      proxy_cache freebsd-ports;

      proxy_cache_revalidate on;  # conditional GET only if contents are stale
      proxy_cache_lock on;  # multiple MISS'es: first fetch, others wait
      proxy_cache_valid 7d;  # caching time for 200, 301, 302

      proxy_pass  https://pkg.FreeBSD.org;

      add_header	X-Cache-Status $upstream_cache_status;
    }
  }
}
