# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

worker_processes  1;

events {
  worker_connections  1024;
}

http {
  # Use absolute path includes to make Nginx configuration validator work
  # with Ansible, which runs validation `nginx -t -c %s` on a temporary file
  # and nginx(1) tries to pick up mime.types from the same location instead
  # of prefix even if `-p /usr/local/etc/nginx` is used without effect.
  #
  include       /usr/local/etc/nginx/mime.types;
  default_type  application/octet-stream;

  sendfile    on;

  keepalive_timeout  65;

  include /usr/local/etc/nginx/conf.d/http/*.conf;

  server {
    listen        {{ local_pkg_listen_on }}:443 ssl;
    server_name   {{ inventory_hostname }};

    allow 10.0.0.0/24;  # local network
    deny  all;

    # Use notice-level to capture rewrites
    error_log /var/log/nginx/error.log notice;

    ssl_certificate     /usr/local/etc/nginx/ssl/pkg.crt;
    ssl_certificate_key /usr/local/etc/nginx/ssl/private/pkg.key;

    include /usr/local/etc/nginx/conf.d/http/server/*.conf;
  }
}
