# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

# proto-file: github.com/skhal/lab/infra/cmd/certval/pb/config.proto
# proto-message: infra.cmd.certval.Config

slack {
  webhook: "{{ certval_slack_webhook }}"
}

discord {
  webhook: "{{ certval_discord_webhook }}"
}

{% for cert in certval_certificates %}
certificate {
  name: "{{ cert.name }}"
  path: "{{ cert.path }}"
}
{% endfor %}
