# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

name: Book CI

on:
  push:
    branches: ["main"]
    paths: ['book/**']

jobs:
  bootstrap:
    defaults:
      run:
        shell: sh
    runs-on: ubuntu-latest
    outputs:
      go_changes: ${{ steps.go_changes.outputs.go_changes }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 2

    - name: Detect Go Changes
      id: go_changes
      run: |
        files=$(git diff --name-only --diff-filter=ACMR HEAD^ | grep \.go$ || true)
        if [[ -n "$files" ]]; then
          echo "go_changes=true" | tee $GITHUB_OUTPUT
        else
          echo "go_changes=false" | tee $GITHUB_OUTPUT
        fi

  test:
    needs: bootstrap
    if: needs.bootstrap.outputs.go_changes == 'true'
    uses: ./.github/workflows/ci_go.yml
    with:
      package: ./book
