# Copyright 2026 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

name: CI C++ with Bazel

on:
  # Manual trigger from GitHub UI
  workflow_dispatch:
    inputs:
      llvm-version:
        required: true
        type: number
      package:
        required: true
        type: string
  # Trigger from other workflows
  workflow_call:
    inputs:
      llvm-version:
        required: true
        type: number
      package:
        required: true
        type: string

jobs:
  test:
    defaults:
      run:
        shell: sh
    runs-on: ubuntu-latest
    env:
      CC: clang-${{ inputs.llvm-version }}
      CXX: clang++-${{ inputs.llvm-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup LLVM ${{ inputs.llvm-version }}
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x ./llvm.sh
        sudo ./llvm.sh ${{ inputs.llvm-version }}

    - name: Setup Bazel
      uses: bazel-contrib/setup-bazel@0.15.0
      with:
        # Avoid downloading Bazel every time.
        bazelisk-cache: true
        # Store build cache per workflow.
        disk-cache: ${{ github.workflow }}
        # Share repository cache between workflows.
        repository-cache: true

    - name: Test
      run: |
        bazel test \
          --keep_going \
          --test_verbose_timeout_warnings \
          --test_output=errors \
          ${{ inputs.package }}/...
