# Copyright 2025 Samvel Khalatyan. All rights reserved.

name: IQ Bazel CI

on:
  push:
    branches: ["main"]
    paths:
    # keep-sorted start
    - 'iq/**/*.cc'
    - 'iq/**/*.h'
    - 'iq/**/BUILD'
    # keep-sorted end
  pull_request:
    branches: ["main"]
    paths:
    # keep-sorted start
    - 'iq/**/*.cc'
    - 'iq/**/*.h'
    - 'iq/**/BUILD'
    # keep-sorted end

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        llvm-version: [21]
    env:
      CC: clang-${{ matrix.llvm-version }}
      CXX: clang++-${{ matrix.llvm-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install LLVM ${{ matrix.llvm-version }}
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x ./llvm.sh
        sudo ./llvm.sh ${{ matrix.llvm-version }}
      shell: bash

    - name: Setup Bazel
      uses: bazel-contrib/setup-bazel@0.15.0
      with:
        # Avoid downloading Bazel every time.
        bazelisk-cache: true
        # Store build cache per workflow.
        disk-cache: ${{ github.workflow }}
        # Share repository cache between workflows.
        repository-cache: true

    - name: Build and test
      run: |
        bazel test \
          --keep_going \
          --test_verbose_timeout_warnings \
          --test_output=errors \
          //iq/...
